.container {
  display: flex;
}

.square {
  stroke-dasharray: 650;
  stroke-dashoffset: -650;
  animation: draw-square 3s infinite;
  transform-origin: 50% 50%;
}

@keyframes draw-square {
  from {
    stroke-dashoffset: -650;
    transform: rotate(0deg);
  }
  to {
    stroke-dashoffset: 0;
    transform: rotate(360deg);
  }
}

.hexagon {
  stroke-dasharray: 425;
  stroke-dashoffset: -425;
  animation: draw-hexagon 2s infinite;
  transform-origin: 50% 50%;
}

@keyframes draw-hexagon {
  from {
    stroke-dashoffset: -425;
    transform: rotate(0deg);
  }
  to {
    stroke-dashoffset: 0;
    transform: rotate(360deg);
  }
}

.monkey {
  stroke: rgba(165, 42, 42);
  stroke-width: 2px;
  stroke-dashoffset: -2000;
  stroke-dasharray: 2000;
  /* animation in detail */
  animation-name: monkey;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* animation-timing-function: ease-in; */
  /* animation-fill-mode: forwards; */
}

@keyframes monkey {
  0% {
    stroke-dashoffset: -2000;
  }
  50% {
    stroke: green;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
